<html>
  <head>
      <link href='../../assets/stylesheets/components/_menu.scss' rel='stylesheet'>
  </head>
  <body>
    <div class="menu">
      <ul>
        <li><a href="">L'Abécédaire d'une vie moderne</a></li>
        <li><a href="">Le Manifeste</a></li>
        <li><a href="">Collaborer</a></li>
        <li><a href="">Donner des fonds</a></li>
        <li>Recherche</li>
      </ul>
      <ul>
        <li><a href="">L'Association</a></li>
        <li><a href="">Propriété Intellectuelle</a></li>
        <li><a href="">Politique de Confidentialité</a></li>
        <li><a href="">Contact</a></li>
        <li>
          <ul>
            <li><a href="">facebook</a></li>
            <li><a href="">facebook</a></li>
            <li><a href="">facebook</a></li>
            <li><a href="">facebook</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div id="menu-list" style="top: 0px; margin-left: 0px;">
      <img class="icon move-rotate" src="/img/menu-icon-active.png" width="16" height="16" alt="">
      <div class="padding">
        <div class="nav-title">
          L'Abécédaire d'une vie moderne
        </div>
        <div class="nav-top">
          <a href="/">Le Manifeste</a>
          <a href="/">Collaborer</a>
          <a href="/">Donner des fonds</a>

        </div>

        <div class="nav-bottom">
          <a href="/">L'Association</a>
          <a href="/">Propriété Intellectuelle</a>
          <a href="/">Politique de Confidentialité</a>
          <a href="/contact.html">Contact</a>

             <div class="social-icons">
              <a class="facebook" href="https://www.facebook.com/abecedaireduneviemoderne" target="_blank"></a>
              <a class="instagram" href="http://instagram.com/abecedaireduneviemoderne/" target="_blank"></a>
            </div>

           <!--  <a href="mailto:info@abcdr.co">info@abcdr.co</a>

            <a href="/sitemap.php">Sitemap</a>
            <a href="/privacy-legal.php">Privacy &amp; Legal</a>

            © 2018 Association L'Abécédaire d'une vie moderne loi 1901 <br><br>
 -->


          </div>

        </div>


      </div>

    </div>



  </body>
</html>
