<nav id="navbar" class="navbar .navbar-expand navbar-dark bg-secondary navbar-abcdr fixed-top justify-content-between row">
  <div class="col">
    <button class="sidebar-toggle navbar-toggler navbar-left btn btn-secondary" type="button">
      <span class="fa fa-bars navbar-abcdr-menu-btn"></span>
    </button>
  </div>

  <div class="col">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-brand mr-auto navbar-right pull-right navbar-brand-abcdr" do %>
      <%= image_tag "logo.png", :class => "navbar-brand-logo", :alt => "L'Abécésaire d'une Vie Moderne" %>
    <% end %>
  </div>
</nav>
