<div class="row align-items-start">
  <ul class="list-group panel bg-primary" id="topmenu">
    <li><a href="#">L'Abécédaire d'une vie moderne</a></li>
    <li><a href="#">Le Manifeste</a></li>
    <li><a href="#">Collaborer</a></li>
    <li><a href="#">Donner des fonds</a></li>
    <li>
      <form class="form-inline my-2 my-lg-0">
        <button class="fa fa-search" type="submit"></button>
        <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
      </form>
    </li>
  </ul>
</div>

<div class="row align-items-end">
  <ul class="list-group panel bg-primary" id="bottommenu">
    <li><a href="#">L'Association</a></li>
    <li><a href="#">Propriété Intellectuelle</a></li>
    <li><a href="#">Politique de Confidentialité</a></li>
    <li><a href="#">Contact</a></li>
    <li>
      <ul class="row align-items-center">
        <li class="col"><a href="#"><span class="fa fa-facebook"></span></li>
        <li class="col"><a href="#"><span class="fa fa-twitter"></span></li>
        <li class="col"><a href="#"><span class="fa fa-instagram"></span></li>
        <li class="col"><a href="#"><span class="fa fa-envelope"></span></li>
      </ul>
    </li>
  </ul>
</div>
