<button class="sidebar-toggle navbar-toggler navbar-left btn btn-primary navbar-abcdr-menu-btn" type="button">
  <span class="fa fa-bars navbar-abcdr-menu-btn"></span>
</button>
<ul class="list-group panel bg-primary text-primary" id="topmenu">
  <li class="nav-item"><a href="/">L'Abécédaire<br />d'une vie moderne</a></li>
  <li class="nav-item"><a href="/manifeste">Le Manifeste</a></li>
  <li class="nav-item"><a href="/collaborer">Collaborer</a></li>
  <li class="nav-item"><a href="#">Donner des fonds</a></li>
  <li class="row">
    <form class="form-inline my-2 my-lg-0">
      <button class="col-3 fa fa-search btn btn-sm btn-primary" type="submit"></button>
      <input class="col-8 form-control form-control-sm" type="search" placeholder="Recherche" aria-label="Search">
    </form>
  </li>
</ul>

<ul class="list-group panel bg-primary" id="bottommenu">
  <li class="nav-item"><a href="/association">L'Association</a></li>
  <li class="nav-item"><a href="/proprieteintellectuelle">Propriété Intellectuelle</a></li>
  <li class="nav-item"><a href="/confidentialite">Politique de Confidentialité</a></li>
  <li class="nav-item"><a href="/contact">Contact</a></li>
  <li>
    <ul class="row align-items-center">
      <li class="col"><a href="#" target="_blank"><span class="fa fa-facebook"></span></a></li>
      <li class="col"><a href="#" target="_blank"><span class="fa fa-twitter"></span></a></li>
      <li class="col"><a href="#" target="_blank"><span class="fa fa-instagram"></span></a></li>
      <li class="col"><a href="#" target="_blank"><span class="fa fa-envelope"></span></a></li>
    </ul>
  </li>
</ul>
