<h1>Collaborer</h1>
<h2>Pourquoi ?</h2>
<p>L’Abécédaire d’une vie moderne est le fruit d’une expérimentation très singulière, de l’index des mots résonants à l’ère de la renaissance 4.0. Ce n’est pas un travail d’érudition, loin s’en faut. C’est plutôt la chronique d’un tumulte osé et assumé, d’un chaos nécessaire d’idées, de sensations, d’émotions d’un ordre vécu comme nouveau par les plus jeunes générations. C’est un travail d’exploration rhétorique et de fiction autour de ces mots qui comptent particulièrement, on les raconte sans prétendre les encadrer dans un travail académicien.</p>
<p>Cette démarche collective est initiée par des individus ouverts à toutes les curiosités –, venus d’ici et d’ailleurs –, et qui s’attachent à observer minutieusement l’évolution sémantique de leur génération, à désambiguïser ses termes courants et leurs ramifications complexes, à mettre en lumière les actes pas si anodins sous-jacents au langage.</p>
<p>A l’origine de cet abécédaire, il y a une quête de sens,, de minutie et d’harmonie qu’on souhaite partager. Il y a une volonté d’entrer en contact avec l’intégralité de l’esprit de cette génération, ses faiblesses et ses grandeurs, ses croyances, ses idées fixes et ses limitations.</p>
<p>Cet abécédaire, à travers ses narrations lues, chantées, filmées, illustrées, devient une collection des variantes incarnées de la modernité et de ses représentations.</p>
<h2>Comment ?</h2>
<p>Vous pouvez participer à l’aventure de l’Abécédaire de plusieurs façons :
<ul>
  <li>Proposer de nouveaux mots à explorer ;</li>
  <li>Soumettre votre propre exploration artistico-linguistique avec au choix des textes écrits, lus, slammés, chantées, illustrés, dessinés, filmés ou toute autre forme qui sied ;</li>
  <li>Identifier et nous connecter avec des personnes ressources qui pourraient prendre part ou soutenir la démarche de l’Abécédaire (ex : talents émergents, éditeurs, mécènes, etc.).</li>
</ul>