  <!-- TODO: Here goes your content! -->

    <div>
      <img src="images/logo.png" alt="Logo de l'Abécédaire" id="logo">
    </div>

    <h1>Explorer les modernités </h1>
    <div>
      <h2>Mot du jour</h2>
      <a href="#" class="btn btn-danger btn-lg">Autoportrait</a>
      <ul>
      <% for letter in ('a'..'f') %>
        <li><%= image_tag letter + ".png", :alt => "lettre " + letter, :class => "lettres" %></li>
      <% end %>
      <% for letter in ('g'..'z') %>
        <li><%= letter %></li>
      <% end %>
      </ul>
    </div>

    <div>© Association loi 1901 L'Abécédaire d'une vie moderne.</div>