
<div>
  <h2>Mot du jour</h2>
  <a href="#" class="btn btn-danger btn-lg">Autoportrait</a>
  <ul>
  <% for letter in ('a'..'z') %>
    <li>
      <a href=<%= '#' + letter + "words" %> data-toggle="collapse"><%= letter %></a>
      <ul class="collapse" id=<%= letter + "words" %>>
        <li><a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 1 </a></li>
        <li><a href="#" class="list-group-item" data-parent="#menu1">Subitem 2</a></li>
        <li><a href="#" class="list-group-item" data-parent="#menu1">Subitem 3</a></li>
      </ul>
    </li>
  <% end %>
  </ul>
</div>