// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "sidebar";

HTML, BODY, BODY > DIV, BODY > DIV > DIV[class=row] {
  height: 100%;
}

BODY {
  overflow-x: hidden;
}

#content {
  padding-top: 5rem;
}

.words {
  position: absolute;
  border-left: 1px black solid;
  padding: .4rem;
  padding-top: .6rem;
  padding-bottom: .6rem;

  left: 1rem;
  top: -0.6rem;
}

.words LI {
  list-style-type: none;
}