#sidebar A {
  color: $secondary;
  font-size: 0.8rem;
}

#sidebar LI {
  list-style-type: none;
}

#sidebar BUTTON.navbar-abcdr-menu-btn {
  position: absolute;
  clear: left;
  right: .5rem;
  top: 1.5rem;
  color: $secondary;
  transform: rotate(90deg);
}

#sidebar BUTTON SPAN.navbar-abcdr-menu-btn {
  color: $secondary;
}

#sidebar #bottommenu {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
}

#sidebar #bottommenu > LI > UL {
  padding: 0;
}

#topmenu FORM INPUT {
  background-color: #FFFFFF66;
  border: 0;
  color: $secondary;
  padding: .2rem;
  font-size: .8rem;
}

#topmenu FORM INPUT::placeholder {
  color: #BBBBBB;
}

/** Toggle mania 
 * Thanks: https://blackrockdigital.github.io/startbootstrap-simple-sidebar
 */
$menu-width : 11rem;

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: $menu-width;
}

#sidebar-wrapper {
  z-index: 2000;
  position: fixed;
  left: $menu-width;
  width: 0;
  height: 100%;
  margin-left: -$menu-width;
  overflow-y: auto;
  background: $primary;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar > UL {
  max-width: $menu-width - 1rem;
  padding: .5rem;
}

#wrapper.toggled #sidebar-wrapper {
  width: $menu-width;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -$menu-width;
}

#topmenu {
  padding-top: 1.5rem !important;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: $menu-width;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: $menu-width;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: $menu-width;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}