<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <!--
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %> -->
  <title>L'Abécédaire d'une vie moderne</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

    <body>
     <div>
      <title>L'Abécédaire d'une vie moderne</title>
      <img src="app/assets/images/logo.png" alt="Logo de l'Abécédaire" id="logo">
    </div>
    <h1>Explorer les modernités </h1>
    <div>
      <h2>Mot du jour</h2>
      <a href="#" class="btn btn-danger btn-lg">Autoportrait</a>

      <ul>
        <li> <img src="../../assets/images/a.png" alt="lettre a" class="lettres" width="100"></li>
        <li> <img src="../..assets/images/b.png" alt="lettre b" class="lettres" width="100"></li>
        <li> <img src="../..assets/images/c.png" alt="lettre c" class="lettres" width="100"></li>
        <li> <img src="../..assets/images/d.png" alt="lettre d" class="lettres" width="100"></li>
        <li> <img src="../..assets/images/e.png" alt="lettre e" class="lettres" width="100"></li>
        <li> <img src="../..assets/images/f.png" alt="lettre f" class="lettres" width="100"></li>
        <li> <img src="g" alt="lettre g" class="lettres"></li>
        <li> <img src="h" alt="lettre h" class="lettres"></li>
        <li> <img src="i" alt="lettre i" class="lettres"></li>
        <li> <img src="j" alt="lettre j" class="lettres"></li>
        <li> <img src="k" alt="lettre k" class="lettres"></li>
        <li> <img src="l" alt="lettre l" class="lettres"></li>
        <li> <img src="m" alt="lettre m" class="lettres"></li>
        <li> <img src="n" alt="lettre n" class="lettres"></li>
        <li> <img src="o" alt="lettre o" class="lettres"></li>
        <li> <img src="p" alt="lettre p" class="lettres"></li>
        <li> <img src="q" alt="lettre q" class="lettres"></li>
        <li> <img src="r" alt="lettre r" class="lettres"></li>
        <li> <img src="s" alt="lettre s" class="lettres"></li>
        <li> <img src="t" alt="lettre t" class="lettres"></li>
        <li> <img src="u" alt="lettre u" class="lettres"></li>
        <li> <img src="v" alt="lettre v" class="lettres"></li>
        <li> <img src="w" alt="lettre w" class="lettres"></li>
        <li> <img src="x" alt="lettre x" class="lettres"></li>
        <li> <img src="y" alt="lettre y" class="lettres"></li>
        <li> <img src="z" alt="lettre z" class="lettres"></li>
      </ul>
    </div>

    <div>
      <p> © Association loi 1901 L'Abécédaire d'une vie moderne </p>
    </div>

    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


    <!--
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %> -->
  </body>
  </html>
